@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
  --box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  --gap: 20px;
  --color-main:rgba(219,203,212, 0.8);
}

@font-face {
  font-family: "hand-font";
  src: url("../public/hand-font.otf") format("opentype");
}

body {

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 1em;

}
 
*::-webkit-scrollbar-track {
  
  box-shadow: inset 0 0 6px var(--color-main);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  outline: 1px solid white;
  border-radius:8px;
}


/* BACKGROUND  ###########################################################################################################*/
.background {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23006bff' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
}


/* LAYER  ###########################################################################################################*/
.layer {

  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: var(--box-shadow);
  background: linear-gradient(156deg, rgba(233,233,233,1) 24%, rgba(249,249,249,1) 64%); 
  max-width: 1000px;
  width: 90vw;
 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: var(--gap);
  justify-items: center;

  margin: 0 auto;
}


/* HEADER ###########################################################################################################*/
.header {
  
  box-shadow: var(--box-shadow);

  background: var(--color-main);
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title  {
  color: rgb(136,134,106);
  letter-spacing: 3px;
  font-family: 'Audiowide', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* COVER ###########################################################################################################*/
.cover {
  box-shadow: var(--box-shadow);
  width: 95%;

  background-image: url('../public/bg-cover.jpg');
  background-size: cover;
  background-position: right 30% bottom 55%;
  opacity: 0.8;
}


/* ART  ###########################################################################################################*/
.art-list {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);

}

.art-box{

  box-shadow: var(--box-shadow);
  width: 95%;


  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr; 
  grid-template-areas:
    "header"
    "main"
    "footer";

  gap: 10px;

  opacity: 1;

  border-radius: 20px;
}


.art-box-header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-box-header-title {
  margin-top: 10px;
  color: white;
  font-family: 'Audiowide', cursive;
  font-weight: bold;
  align-self: center;
}

.art-box-main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}


.art-box-main-pic {
  display: block; 
  padding:0;
}

.art-box-footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "size price order";
}

.art-box-footer-size {
  grid-area: size;
  color: white;
  font-family: 'Audiowide', cursive;
  font-weight: bold;


  display: flex;
  justify-content: center;
  align-items:center;
}

.art-box-footer-price {
  grid-area: price;
  color: white;
  font-family: 'Orbitron';
  letter-spacing: 3px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items:center;
}

.art-box-footer-order {
  grid-area: order;
}


/* FOOTER  ###########################################################################################################*/
.footer {
  
  box-shadow: var(--box-shadow);
  width: 95%;

  background-image: url('../public/bg-footer.jpeg');
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}